.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}


/* color, font */
.dark-1 {
    color: #0D1321;
}


* {
    margin: 0;
    padding: 0;
}

/* Optional Styles */
.additional-heading {
    font-size: 28px;
}

.additional-btn {
    font-size: 20px;
    border-radius: 8px;
    border-color: #0D1321;
    padding: 17px 24px;
}

.optional {
    margin: 28px 166px;
    display: flex;
    justify-content: space-between;
}

/* Header */


/* Intro Styles */
#intro {
    height: 880px;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-position: center;
}
.intro-content {
    width: 1120px;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img {
    width: 300px;
    margin-top: 50px;
}
.intro-title {
    padding: 26px;
    font-weight: bold;
    font-size: 55px;
    margin: 32px;
}
.intro-description {
    margin: 32px auto;
    width: 852px;
}
.btn-primary {
    margin-top: 50px;
    background-color: #0D1321;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 21px 24px;
    border: none;
    border-radius: 8px;
}

/* Main */
main{
}
.web-dev{
    width: 1140px;
    height: 1395px;
    display: block;
    border: none;
    margin: 74px auto;
    padding: 80px 97px;
    background-color: #0D132105;
    text-align: center;
}
.text-title{
    font-size: 32px;
    font-weight: bold;
    margin: 24px 0;
}
.text-description{
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0;
}